* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

header {
  background-color: #333;
  padding: 10px 0;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

nav ul li a:hover {
  text-decoration: underline;
}

footer {
  text-align: center;
  padding: 20px 0;
  background-color: #333;
  color: white;
}

.login {
  margin-left: auto;
}

.login a {
  padding: 10px 20px;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  font-weight: bold;
}

.login a:hover {
  transition-timing-function: ease-out;
  transition: 0.25s;
  transform: translateY(0);
  background-color: #676767;
}

