* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  background-color: var(--light-gray);
  color: var(--black);
}

:root {
  --black: #111;
  --dark-gray: #333;
  --light-gray: #f5f5f5;
  --yellow: #FFD700;
  --white: #fff;
}

header {
  background-color: #333;
  padding: 1rem 2rem;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
}

nav ul li {
  margin: 0 1rem;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  transition: color 0.2s;
}

nav ul li a:hover {
  color: var(--yellow);
}

footer {
  background: var(--dark-gray);
  color: var(--white);
  text-align: center;
  padding: 2rem 1rem;
  margin-top: 4rem;
}

footer p {
  margin: 0;
  font-size: 0.95rem;
}

.login {
  margin-left: auto;
}

.login a {
  background-color: var(--yellow);
  color: var(--black);
  padding: 8px 16px;
  border-radius: 4px;
  font-weight: bold;
  transition: background 0.3s;
}

.login a:hover {
  background-color: #e6c200;
}

#terkep{
  align-items: center;
  justify-content: center;
  
}
