* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  background-color: var(--light-gray);
  color: var(--black);
}

:root {
  --black: #111;
  --dark-gray: #333;
  --light-gray: #f5f5f5;
  --yellow: #FFD700;
  --white: #fff;
}

header {
  background-color: #333;
  padding: 1rem 2rem;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
}

nav ul li {
  margin: 0 1rem;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  transition: color 0.2s;
}

nav ul li a:hover {
  color: var(--yellow);
}

footer {
  background: var(--dark-gray);
  color: var(--white);
  text-align: center;
  padding: 2rem 1rem;
  margin-top: 4rem;
}

footer p {
  margin: 0;
  font-size: 0.95rem;
}

.login {
  margin-left: auto;
}

.login a {
  background-color: var(--yellow);
  color: var(--black);
  padding: 8px 16px;
  border-radius: 4px;
  font-weight: bold;
  transition: background 0.3s;
}

.login a:hover {
  background-color: #e6c200;
}

section.rolunk {
  padding: 2rem;
  background-color: var(--white);
  text-align: center;
}

section.rolunk h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: var(--black);
  padding-top: 25px;
}

section.rolunk p {
  max-width: 800px;
  margin: 0 auto;
  font-size: 1.1rem;
  line-height: 1.6;
}

section.terkep {
  padding: 2rem 0;
  text-align: center;
}

section.terkep h2 {
  margin-bottom: 1rem;
  font-size: 1.8rem;
  color: var(--black);
}

#terkep {
  display: flex;
  justify-content: center;
  align-items: center;
}

#terkep iframe {
  width: 80%;
  max-width: 900px;
  height: 450px;
  border: 2;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.rolunk {
  background-image: url("../src/banner.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: var(--black);
  padding: 5rem 2rem;
  text-align: center;
  position: relative;
  height: 300px;
  vertical-align: middle;
}

.rolunk::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.7);
  z-index: 0;
}

.rolunk h2,
.rolunk p {
  position: relative;
  z-index: 1;
}

.rolunk h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.rolunk p {
  max-width: 800px;
  margin: 0 auto;
  font-size: 1.1rem;
  line-height: 1.6;
}
